<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Launch the rgb2mono_node with topic remapping -->
    <node name="rgb2mono_node" pkg="image_splitter_ros" type="rgb2mono_node" output="screen">
        <!-- Remap the input image topic -->
        <remap from="/camera/image_raw" to="/libcamera_ros/image_raw" />
        <!-- Remap the output image topic -->
        <remap from="/image_mono" to="/image_mono" />
    </node>
</launch>
