<launch>

    <arg name="cam0_topic" default="/left_image"/>
    <arg name="cam1_topic" default="/right_image"/>
    <arg name="stereo_topic" default="/libcamera_ros/image_raw"/>
    <arg name="is_grey" default="true"/>
    <!-- Node for stereo image splitter -->
    <node name="stereo_image_splitter" pkg="image_splitter_ros" type="stereo_image_splitter_node" output="screen">
        <param name="is_grey" value="$(arg is_grey)" />
        <remap from="stitched_images" to="$(arg stereo_topic)" />
        <remap from="left_image" to="$(arg cam0_topic)" />
        <remap from="right_image" to="$(arg cam01_topic)" />
    </node>

</launch>
